.main_information {
    width: 1280px;
    margin: 0 auto;
}

@font-face {
    font-family: 'montserrat';
    src: local('Montserrat');
    src: url(../font/Montserrat-Regular.ttf);
}

ul {

    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin-top: 40px;
}

li {
    display: inline;
    margin-right: 100px;
}

a {
    color: red;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-family: "Montserrat";
}

a:hover {
    color: rgb(196, 40, 92);
}

img {
    margin: 0 auto;
    height: 789px;
    width: 1280px;
    margin-top: 30px;
}

.section_title {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin-top: 35px;
    font-family: "Montserrat";
}

.text {
    width: 1140px;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    font-family: "Montserrat";
}

.button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    height: 51px;
    width: 191px;
    margin-top: 40px;
    font-family: "Montserrat";
}

.section_button {
    text-align: center;
    margin-top: 50px;
}

.footer_text {
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    margin-right: 67px;
    margin-top: 50px;
    font-family: "Montserrat";
}